/* directive is a statement in source code that instructs the compiler to perform a specific operation during compilation. */
/* this is telling the compilar to inject tailwinds base component and utility functions in global css */
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}  
